    <footer>
        Footer
    </footer>
    <!-- / -->
    <!-- =============== vendor javascript ================ -->
    <script src="assets/js/vendor/jquery-3.1.1.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/jquery.disablescroll.js"></script>
    <script src="assets/js/vendor/jquery.validate.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <!-- ================ our javascript ================== -->
    <script src="assets/js/main.min.js"></script>

    <script>
        wow = new WOW({
            animateClass: 'animated',
            offset:       100,
            callback:     function(box) {
                console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
            }
        });
        wow.init();
    </script>
</body>
