/* ==========================================================================
   public styles
   ========================================================================== */
.wrap {
    position: relative;
    width: 100%;
    max-width: 1640px;
    padding: 0 15px;
    margin: 0 auto;
    @include lg {
        max-width: 1170px;
    }
    @include md {
        max-width: 960px;
    }
    @include sm {
        max-width: 100%;
        padding: 0 20px;
    }
}
