// Media
$xl : "(min-width : 1200px)";
$lg : "(min-width : 992px) and (max-width : 1199px)";
$md : "(min-width : 769px) and (max-width : 991px)";
$sm : "(min-width : 544px) and (max-width : 768px)";
$xs : "(max-width : 543px)";
